html,
body {
    padding: 0px;
    margin: 0px;
    background: #222;
    font-family: 'Karla', sans-serif;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.title {
    z-index: 1000;
    position: fixed;
    bottom: 12px;
    right: 12px;
    // 此处修改了字体
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    font-size: 36px;
}

canvas {
    width: 100%;
    height: 100%;
}